{% extends 'base.html' %} {% load bootstrap4 %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card bg-transparent">
                <div class="card-header">
                    <h3><b><u>Update your profile</u></b></h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'editprofile' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %} {% bootstrap_form form %}
                        <button type="submit" class="btn btn-outline-danger">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock content %}